@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap");

$primary-text-color:#eee;
$heading-color:#f75900;
$primary-background-color:#010101;

$font-stack:"Ubuntu",
sans-serif;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $primary-background-color;
    color: $primary-text-color;
    font-family: $font-stack;
}

.gradient-border {

    position: relative;

    $border: 1px;
    background: $primary-background-color;
    background-clip: padding-box;
    border: solid $border transparent;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        margin: -$border;
        border-radius: inherit;
        background: linear-gradient(160deg, #ff904e -4.24%, #ff5982 21.25%, #ec68f4 44.33%, #79e2ff 83.46%);
    }
}

.hero {
    .heading.container {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 30px;


        h1 {
            margin: 7vh auto 10vh auto;
            font-weight: lighter;
            text-align: center;
            font-size: 3.5em;
            background: linear-gradient(141.27deg, #ff904e -4.24%, #ff5982 21.25%, #ec68f4 44.33%, #79e2ff 83.46%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}

main {

    form,
    .preview {
        width: 80vw;
        border-radius: 0.4em;
        padding: 0.8em 0.4em;
        margin: 1em auto;
        @extend .gradient-border;

        h2 {
            color: $heading-color;
            padding: 0.5em;
            font-weight: normal;
        }
    }

    .preview {
        img {
            display: block;
            margin: auto;
        }
    }

    form {
        $padding: 0.5em 2em;

        .checkbox-container {
            padding: $padding;
        }

        .wrapper {
            padding: $padding;
            display: flex;
            flex-wrap: wrap;

            .container {
                flex-basis: 50%;

                input,
                select {
                    width: 80%;
                    height: 2.2em;
                    border-radius: 0.3em;
                    padding: 2px;
                    background-color: #313131;
                    border: 2px solid #666;
                    box-shadow: #000 2px 2px 4px;
                    color: #fff;

                    &[type=text],
                    &[type=number] {
                        padding-left: 6px;
                    }

                    &:focus {
                        border-color: lime;
                        outline: none;
                    }
                }

                label {
                    display: block;
                    padding: 1em 0 0.4em 0;
                    font-size: 1em;
                }
            }
        }
    }
}

a {
    color: #00b7ff;
}

@media only screen and (max-width: 500px) {
    .hero {
        .heading.container {

            h1 {
                font-size: 2.5em;
                margin: 8vh auto 10vh auto;
            }
        }
    }

    main {

        form,
        .preview {
            width: 92vw;

            h2 {
                padding: 0.2em;
            }
        }

        form {
            $padding: 0.4em;

            .checkbox-container {
                padding: $padding;
            }

            .wrapper {
                flex-direction: column;
                padding: $padding;

                .container {

                    input,
                    select {
                        width: 100%;
                    }
                }
            }
        }
    }
}